/*********** TAG SELECTORS ***********/
div {
  color: rgb(200,200,200);
}
body{
  background-color: rgb(77, 77, 77);

}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: rgb(55,55,55);
  text-align: center;
  color: rgb(200,200,200);
  font-family: Arial;
}
/*********** CLASS SELECTORS ***********/
.Navigation-Bar {
  position: fixed;
  background-color: rgb(55, 55, 55);
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  margin-bottom: 80px;
}
.Profile, .About, .Name{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Alfa Slab One", Arial;
}
.Profile {
  margin-top: 100px;
}
.Profile-Picture {
  object-fit: cover;
  object-position: center;
  height:  150px;
  border-radius: 80px;
  box-shadow: 0 0 50px white;
}
.Name {
  margin-top: 25px;
  font-size: 30px;
}
.About {
  margin-top: 15px;
  font-family: Arial;
  font-weight: bolder;
  font-size: 25px;
}
.Projects-Container {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
  box-shadow: 0 0 5px rgba(255,255,255,0.4);
  border-radius: 10px;
}
.Progress {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Social-Media {
  box-shadow: 0 0 5px rgba(255,255,255,0.4);
  border-radius: 10px;
  text-align: center;
  padding: 15px 20px;
}
.Hyper-Links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.LinkedIn {
  background-color: #0077B5;
}
.Instagram {
  background: linear-gradient(to right, #833AB4, #FD1D1D, #F56040);
}
.GitHub {
  background-color: #181717;
}
.LinkedIn, .Instagram, .GitHub{
  text-decoration: none;
  color: white;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.5s;
}
.LinkedIn:hover {
  color: white;
  background-color: rgb(10,102,194);
}
.Instagram:hover {
  color: white;
  background: linear-gradient(to left, #833AB4, #FD1D1D, #F56040);
}
.GitHub:hover {
  color: white;
  background-color: rgb(55, 55, 55);
}
.Contact {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Contact-Me {
  color: white;
  font-family: Arial;
  font-weight: bold;
  background-color: rgb(193, 73, 9);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.5s;
  box-shadow: 0px 2px 5px rgba(200,200,200,0.5);
}
.Contact-Me:hover {
  color: white;
  background-color: rgb(43, 169, 12);
}


