/*********** TAG SELECTORS ***********/
div {
  color: black;
  font-family: Arial;
}

body {
  background-color: white;
}

/*********** CLASS SELECTORS ***********/
.Navigation-Bar {
  position: fixed;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.15));
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
}

.Navigation-Logo {
  height: 50px;
  width: 50px;
  padding-left: 10px;

}

.Profile,
.About,
.Name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Alfa Slab One", Arial;
}

.Profile {
  margin-top: 80px;
}

.Profile-Picture {
  object-fit: cover;
  object-position: center;
  height: 150px;
  border-radius: 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.75);
}

.Name {
  margin-top: 25px;
  font-size: 30px;
}

.About {
  margin-top: 15px;
  font-family: Arial;
  font-weight: bolder;
  font-size: 25px;
}

.Projects-Container {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.Progress {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.TechStack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 600;
}

.TechStack-Images {
  height: 50px;
  width: 50px;
}

.Social-Media {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  text-align: center;
  padding: 15px 20px;
  font-weight: 600;
}

.Hyper-Links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.LinkedIn {
  background-color: #0077B5;
}

.Instagram {
  background: linear-gradient(to right, #833AB4, #FD1D1D, #F56040);
}

.GitHub {
  background-color: #181717;
}

.LinkedIn,
.Instagram,
.GitHub {
  text-decoration: none;
  color: white;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.5s;
}

.LinkedIn:hover {
  background-color: rgb(10, 102, 194);
}

.Instagram:hover {
  background: linear-gradient(to left, #833AB4, #FD1D1D, #F56040);
}

.GitHub:hover {
  background-color: rgb(55, 55, 55);
}

.Contact {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.Contact-Me {
  color: white;
  font-family: Arial;
  font-weight: bold;
  background-color: rgb(193, 73, 9);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.5s;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.Contact-Me:hover {
  color: white;
  background-color: rgb(43, 169, 12);
}

.Footer {
  background-color: grey;
  text-align: center;
  color: white;
  font-family: Arial;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}
